.cursor-gradient {
    position: relative;
    background: #7983ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    top: 250px;
}

.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mouse{
    position: relative;
    background: #7983ff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    top: 250px;
}
    .cursor-gradient span {
        position: relative;
    }
 
    .cursor-gradient::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, pink, transparent);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
    }
 
    .cursor-gradient:hover::before {
       --size: 200px;
    }
