.container{
    display: inline-block;
    margin:10px;
    padding:10px;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 29, 58);
}
#box2{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
}
#box4{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
#box5{
    height: 100px;
    width: 100px;
    background-color: rgb(12, 161, 242);
}

