#outer{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: blueviolet;  
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 2s ease-in 0.2s;
    /*transform:rotate(90deg);*/ 
    /*transform:rotate(45deg);*/                /*rotate*/
    /*transform:rotate(180deg);*/
    /*transform:rotate(360deg);*/

    /*transform:scale(2);*/
    /*transform:scale(2,1);*/                  /*Scale*/
    /*transform:scaleY(2);*/
    /*transform:scaleX(2);*/

}
#inner:hover{
    background-color: rgb(240, 17, 180);
    color: rgb(253, 251, 255);
    /*font-size:50px;
    width: 200px;
    height: 200px;*/

    /*transform:scale(2);*/
    
    /*transform: translateX(200px);*/
    /*transform: translateX(-200px);*/
    /*transform: translateY(-200px);*/          /*translate*/
    /*transform: translateY(200px);*/
    /*transform: translate(20px,50px);*/

    transform: skew(90deg);                   /*skew*/
}
@media(max-width : 200px){
    #outer{
        background-color: blue;
    }
}
@media(min-width : 200px) and (max-width : 600px){
    #outer{
        background-color: yellow;
    }
}
@media(min-width:600px){
    #outer{
        background-color: rgb(9, 244, 40);
    }
}