.container-fluid{
    border: 2px solid black;
}
.col{
    border: 2px solid white;
    background-color: black;
    color: white;
}
.row{
    border: 2px solid black;
}
.colour{
    background-color: black;
    color: white;
}